body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chess-row {
  display: flex;
}

.chess-square {
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.chess-row:nth-child(odd) .chess-square:nth-child(odd) {
  background-color: #769656;
}

.chess-row:nth-child(odd) .chess-square:nth-child(even) {
  background-color: #eeeed2;
}

.chess-row:nth-child(even) .chess-square:nth-child(even) {
  background-color: #769656;
}

.chess-row:nth-child(even) .chess-square:nth-child(odd) {
  background-color: #eeeed2;
}
